
* {
    margin: 0;
    padding: 0;
}
/* body{
    max-width: 60%;
} */
html {
    font-family: 'Nuosu SIL', serif;
    box-sizing: border-box;
    font-size: 62.5%;
   
}

.container {
    padding: 0 rem;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}

.header__logo {
    font-size: 3rem;
    color: white;
    width: 3rem;
    height: 3rem;
    background-color: #F26646;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;

}

.header__social i {
    font-size: 2rem;
    margin-left: 1rem;
    padding: 0.8rem;
    color: #FFF;
    background-color: #F26646;
    border-radius: 50%;
}

.header__social {
    margin-right: 1rem;
}

.content {
    margin: 10rem 10rem;


}

img {
    width: 30%;
}

.content__infor p {
    font-size: 1.5rem;
}

.content__infor h1 {
    margin-top: 10%;
    font-size: 4rem;
}

.content_imgtext {
    display: flex;
}

.content_text {
    width: 40%;
    padding-left: 10rem;
}

.content_subinfor h3 {
    color: #F26646;
    font-size: 3rem;
}

.content_subinfor p {
    font-size: 2.5rem;
    font-weight: 900;
}

.content_subinfor {
    display: flex;
    margin-top: 10rem;
}

.content_subinfor li {
    list-style: none;
    margin-right: 3rem
}

.content_aboutme {
    margin-top: 10rem;
}

.content_aboutme h4 {
    display: inline-block;
    font-size: 20px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px;
}

.content_aboutme p {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
}
.footer{
    background-color: black;
    color: white; 
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.stay{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(138, 129, 129);
}
.footer h1{
    font-size: 4rem;
    margin: 2rem 0;
}
.footer h6{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
}
.lets_talk{
    color:rgb(243, 77, 77) ;
    background-color: black;
    border: 2px solid rgb(240, 56, 56);
    font-size: 1.5rem;
    border-radius: 3rem;
    height: 5rem;
    width: 17rem;
    text-transform: uppercase;  
    letter-spacing: 0.5rem;
    margin-bottom: 4rem;

}
.lets_talk:hover{
    background-color: rgb(245, 92, 92);
    color: white;
    outline: none;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    box-shadow: none;
}
.all{
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: rgb(124, 126, 126);
}


